<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>申请流程</title>
    <link rel="stylesheet" href="./css/flow.css">
</head>

<body>
    <div class="content" id="flow">
        <div class="title">申请流程</div>
        <div class="list">


            <!-- <div class="item">
                <div class="top">
                    <span>楚留香</span>
                    <span>2020-09-01 12:00:09</span>
                </div>
                <div class="btm">
                    提交申请
                </div>
                <span class="icon circle">
                    <i></i>
                </span>
            </div>
            <div class="item">
                <div class="top">
                    <span>江小鱼</span>
                    <span>2020-09-01 12:00:09</span>
                </div>
                <div class="btm">
                    通过
                </div>
                <span class="icon ">
                    <i></i>
                </span>
            </div>
            <div class="item">
                <div class="top">
                    <span>李寻欢</span>
                    <span>2020-09-01 12:00:09</span>
                </div>
                <div class="btm">
                    退回，申请重复
                </div>
                <span class="icon reject">
                    <i></i>
                </span>
            </div>
            <div class="item">
                <div class="top">
                    <span>楚留香</span>
                    <span>2020-09-01 12:00:09</span>
                </div>
                <div class="btm">
                    审核中...
                </div>
                <span class="icon check">
                    <i></i>
                </span>
            </div> -->



            <div v-for="(item,index) in flowList" class="item">

                <!-- 提交 -->
                <template>
                    
                    <div class="top" v-if="item.type=='submit'">
                        <span>{{item.name}}</span>
                        <span>{{item.date}}</span>
                    </div>
                    <div class="btm">
                        提交申请
                    </div>
                    <span class="icon circle">
                        <i></i>
                    </span>

                </template>

                <!-- 审核 -->
                <template v-if="item.type=='process'">
                    <div class="top">
                        <span>{{item.name}}</span>
                        <span>{{item.date}}</span>
                    </div>
                    <div class="btm">
                        审核中...
                    </div>
                    <span class="icon check">
                        <i></i>
                    </span>
                </template>

                <!-- 驳回 -->
                <template v-if="item.type=='reject'">
                    <div class="top">
                        <span>{{item.name}}</span>
                        <span>{{item.date}}</span>
                    </div>
                    <div class="btm">
                        退回，申请重复
                    </div>
                    <span class="icon reject">
                        <i></i>
                    </span>
                </template>

                <!-- 通过 -->
                <template v-if="item.type=='access'">
                    <div class="top">
                        <span>{{item.name}}</span>
                        <span>{{item.date}}</span>
                    </div>
                    <div class="btm">
                        通过
                    </div>
                    <span class="icon">
                        <i></i>
                    </span>
                </template>


            </div>


            <span class="side-line"></span>


        </div>



    </div>
    <script src="./js/resize.js"></script>
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/vue.min.js"></script>

    <script>
        $(document).ready(() => {
            let vm = new Vue({
                el: '#flow',
                data: {
                    flowList: [

                    ]
                },
                mounted() {
                    console.log('查看流程页面');
                    console.log('flow');

                    // 模拟数据
                   this.flowList= this.getFlowListData(30);

                //    调用接口获取数据
                  this.getFlowListDataByAjax()


                },
                methods: {

                    //  获取随机列表页面
                    getFlowListData(num) {
                        let data = [];

                        let typeArray = ['submit', 'process', 'reject','access'];
                        let nameList = ['小明', '小刚', '小花', '小李', '小赵', '小周', '小韩', '小吴', '小张'];
                        let partName = ['一部一室', '一部二室', '一部三室', '一部四室', '一部五室', '二部一室', '三部一室', '四部一室'];
                        let dateList=['2020-01-02','2020-06-08','2020-05-29','2020-04-03','2020-07-09']

                        for(let i=0;i<num;i++){
                            data.push({
                                type:typeArray[this.getRandomNum(0,typeArray.length)],
                                name:nameList[this.getRandomNum(0,nameList.length)],
                                partName:partName[this.getRandomNum(0,partName.length)],
                                date:dateList[this.getRandomNum(0,dateList.length)]
                            })
                        }
                        return data;

                    },

                    //  获取随机数字
                    getRandomNum(min, max) {
                        max = max - 1;
                        return Math.floor(Math.random() * (max - min + 1) + min);
                    },

                    //  根据参数获取流程数据
                    getFlowListDataByAjax(){
                        $.ajax({
                            url:'http://www.test.com',
                            type:'get',
                            dataType:'json',
                            data:{
                                id:1,
                                name:'test'
                            },
                            success(res){
                                console.log('查看接口数据');
                                console.log(res);
                                if(res.code=='200'){
                                    this.flowList=res.data;
                                }

                            },
                            error(err){
                                console.log('接口调用失败');
                                console.log(err);
                            }

                        })

                    }


                },
            })

        })

        console.log('查看流程')
    </script>
</body>

</html>